PORT=4000
NODE_ENV=development

MONGO_URI=mongodb://localhost:27017/logico

JWT_SECRET=change-me
JWT_EXPIRES_IN=7d
COOKIE_NAME=cf_token

CLIENT_ORIGIN=http://localhost:5173

S3_ENDPOINT=http://localhost:9000
S3_REGION=us-east-1
S3_BUCKET=cashflow-documents
S3_ACCESS_KEY_ID=minioadmin
S3_SECRET_ACCESS_KEY=minioadmin
S3_FORCE_PATH_STYLE=true
